<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
      
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">${db.jdbcUrl}?characterEncoding=UTF-8&amp;serverTimezone=Europe/Rome</property>
        <property name="hibernate.connection.username">${db.user}</property>
        <property name="hibernate.connection.password">${db.password}</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.c3p0.min_size">3</property>
        <property name="hibernate.c3p0.max_size">30</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">300</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.show_sql">false</property>
    
        <mapping class="it.cnr.ilc.lexo.hibernate.entity.SuperEntity"/>
        <mapping class="it.cnr.ilc.lexo.hibernate.entity.Application_Settings"/>
        <mapping class="it.cnr.ilc.lexo.hibernate.entity.UserService_Settings"/>
        <mapping class="it.cnr.ilc.lexo.hibernate.entity.BibliographyService_Settings"/>
        <mapping class="it.cnr.ilc.lexo.hibernate.entity.CorpusService_Settings"/>
        <mapping class="it.cnr.ilc.lexo.hibernate.entity.FederationService_Settings"/>
        
    
    </session-factory>
</hibernate-configuration>
