<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="HOME_LOG" value="${catalina.home}/logs/lexo-server.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/lexo-server.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>1GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>20</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.http.headers" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>
    
    <logger name="org.reflections.Reflections" level="info"/>
    <logger name="org.apache.http.headers" level="info"/>
    <logger name="org.apache.http.wire" level="info" />
    <logger name="io.swagger" level="info" />
    <logger name="com.mchange.v2.log.MLog" level="info" />

    <root level="info">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>
